* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(35, 30, 26, 0);
    border: 0px solid rgba(255, 255, 255, 0.332);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 6px;
}

#custom-arch {
    margin-left: 20px;
}

#window {
  color: #fdfdfd;
  text-shadow: 0px 0px 5px #121212;
}

#mpris,
#tray,
#bluetooth,
#workspaces {
    background-color: #4d3926;
    border-radius: 9999px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px
}

#workspaces button {
    color: #CDD6F4;
    border-radius: 9999px;
    transition: all 0.3s ease;
    padding: 8;
    padding-left: 10;
    padding-top: 2px;
    padding-bottom: 2px;
}

#workspaces button.active {
    background-color: #e5c890;
    color: #1E1E2E;
}

#workspaces button:hover {
    background-color: #585b70;
}

#mpris {
  min-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

#tray {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 9999px;
}

/*#bluetooth {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 0 9999px 9999px 0;
}*/

/*#battery {
  padding: 0 10px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 0 9999px 9999px 0;
}*/

#clock.time {
    background-color: #ef9f76;
    color: #000000;
    border-radius: 9999px 0 0 9999px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px;
    text-shadow: 0px 0px 5px #ffffff;
}

#clock.date {
    background-color: #8caaee;
    color: #000000;
    border-radius: 0 9999px 9999px 0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px;
    margin-right: 10px;
    text-shadow: 0px 0px 5px #ffffff;
}

#pulseaudio {
  background-color: #4d3926;
  border-radius: 9999px;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

#pulseaudio.microphone {
  background-color: #4d3926;
  border-radius: 9999px;
  margin-left: 5px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-right: 12px;
}

#cpu {
    background-color: #4d3926;
    border-radius: 9999px 0 0 9999px;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

#memory {
    background-color: #4d3926;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

#temperature {
    background-color: #4d3926;
    border-radius: 0 9999px 9999px 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 12px;
}